<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Score Successfully Submitted!</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" href="./game/images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>

<body>
    <div class="header">
        <a href="/"><p>Main Page</p></a>
        <a href="/leaderboards"><p>Leaderboard</p></a>
    </div>

    <div>
        <h1 id="title">Score Submitted!</h1>
    </div>
</body>

</html>